@use "utilities" as *;

body#admin main {
    width: 100%;
    height: 100svh;
    max-width: 90rem;
    // background-color: red;
    margin: auto;
    padding: var(--space-03);

    p#admin-notice {
        margin-bottom: var(--space-08);
        max-width: 40rem;
    }
}

ul#campaigns-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--space-02);

    li.campaign {
        border: 1px solid var(--theme-text-color);
        height: 20rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @include hover-animation();

        > div {
            padding: var(--space-02);
        }

        div.campaign-header {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-bottom: 1px solid var(--theme-text-color);
            p.item-header__account {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        div.campaign-body {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p.item-body__campaign-count span,
            p.item-body__campaign-password span {
                font-weight: 700;
            }

            p.item-body__campaign-password span {
                text-transform: capitalize;
            }
        }
    }
}
