@use "utilities" as *;

body#dashboard main {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    > * {
        flex: 1;
    }
}

body#dashboard header {
    margin-bottom: var(--space-03);
}

div#sidebar {
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100svh;
    max-width: 28rem;
    position: sticky;
    overflow-y: auto;
    gap: var(--space-06);
    padding: var(--space-03);
    border-right: 1px solid var(--theme-text-color);
}

#banner-filter {
    div:last-of-type {
        display: grid;
        gap: var(--spacing-rg);
        padding: var(--spacing-sm) 0;
    }
}

#view-mode-switch {
    display: flex;
    gap: var(--space-01);
    li.option {
        flex: 1;
        &.--selected button::before {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            background-color: var(--theme-text-color);
            top: 8px;
            left: 8px;
            border-radius: 50px;
            // border: 1px solid var(--theme-text-color);
        }
    }
}

button.btn-mode {
    width: 100%;
    height: 25px;
    transform: translate(-0.2rem, -0.2rem);
    box-shadow: 3px 3px var(--colors-gray3);
    border: 1px solid var(--theme-text-color);
    &:hover {
        background-color: var(--color-blue-01);
    }
}

button.banner-size-button {
    display: flex;
    align-items: center;
    gap: var(--space-rg);
    padding: 0.2rem;
    text-transform: none;

    &.--selected {
        color: var(--theme-text-color);
        span.box {
            border: 1px solid var(--theme-text-color);
            &::before {
                content: url("../icons/checker.svg");
                display: block;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -55%);
            }
        }
    }

    span.box {
        width: 1.4rem;
        height: 1.4rem;
        aspect-ratio: 1/1;
        cursor: pointer;
        margin-right: var(--space-02);
        border: 1px solid var(--theme-text-color);
        position: relative;
    }
}

#banner-preview-board {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-03);
    z-index: 0;
    padding: var(--space-03);
    background-color: var(--colors-gray1);
    @extend %hide-scrollbar;

    .banner .banner__footer {
        padding: var(--space-02);
        border: 1px solid var(--theme-text-color);
        border-top: none;
    }

    .banner__wrapper {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid var(--colors-gray7);
            z-index: 1;
        }

        iframe {
            position: relative;
            z-index: 10;
        }
    }
}

#information ul li {
    pointer-events: none !important;
}
