@font-face {
    font-family: 'SempioneGrotesk';
    src: url('/assets/fonts/SempioneGrotesk-Medium.eot');
    src: url('/assets/fonts/SempioneGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SempioneGrotesk-Medium.woff2') format('woff2'),
        url('/assets/fonts/SempioneGrotesk-Medium.woff') format('woff'),
        url('/assets/fonts/SempioneGrotesk-Medium.ttf') format('truetype'),
        url('/assets/fonts/SempioneGrotesk-Medium.svg#SempioneGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

