@use "utilities" as *;

:root {
    /* Colors */
    --colors-gray0: #fff;
    --colors-gray1: #f7f7f7;
    --colors-gray2: #ededed;
    --colors-gray3: #dedede;
    --colors-gray4: #999;
    --colors-gray5: #696969;
    --colors-gray6: #333;
    --colors-gray7: #000;

    --colors-blue-01: #eaecef;
    --colors-blue-02: #d4d9df;
    --colors-blue-03: #222529;

    --colors-accent: #35202e;
    --colors-alert: #E15100;

    /* Spacing */

    --space-01: 0.5rem;
    --space-02: 1rem;
    --space-03: 1.5rem;
    --space-04: 2rem;
    --space-05: 3rem;
    --space-06: 6rem;
    --space-07: 10rem;
    --space-08: 15rem;
    --space-09: 20rem;

    /* Typography */
    --font-size-lg: 2rem;
    --font-size-md: 1.6rem;
    --font-size-rg: 1.2rem;
    --font-size-sm: 1.1rem;
    --font-family-primary: Arial, Helvetica, sans-serif;

    --letter-spacing-rg: 0.05rem;
    --theme-transition-duration: 0.15s;

    /* Base */
    --theme-background: var(--colors-gray0);
    --theme-text-color: var(--colors-accent);
}

// .dark-theme {
//     --primary-color: #0d0d0d; // Background color. Most visible color
//     --secondary-color: var(--colors-gray2); //Text color
// }

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--theme-background);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-rg);
    color: var(--theme-text-color);
    letter-spacing: -0.2px;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

img,
svg,
iframe {
    display: block;
}

// Header

header {
    font-size: var(--font-size-lg);
    color: var(--theme-text-color);
    text-transform: uppercase;
    font-weight: 700;
}

header#header-login,
header#header-admin {
    @include style-header-page();
}

// Buttons

button {
    @extend %reset-button;
    cursor: pointer;
    text-transform: capitalize
}

button#btn-logout {
    @include style-button();
    position: fixed;
    bottom: var(--space-03);
    right: var(--space-03);
    color: var(--theme-text-color);
    font-size: var(--font-size-sm);
    border: 1px solid (var(--theme-text-color));
    text-transform: uppercase;
    background-color: var(--theme-background);
    @include hover-animation();
}

button.btn-common {
    @include style-button();
    background-color: var(--colors-blue-01);
    transition: background-color var(--theme-transition-duration) ease;
    &:hover {
        background-color: var(--colors-blue-02);
    }
}

// Form
form {
    width: 100%;
    max-width: 40rem;
    display: grid;
    gap: var(--space-02);

    label {
        display: block;
    }

    input {
        width: 100%;
        @extend %reset-input;
        @include style-button();
        border: 1px solid var(--colors-blue-02);
        &::placeholder {
            color: var(--theme-text-color);
        }
    }
}

a {
    @extend %reset-links;
}
