#selectors{
  display: grid;
  gap: var(--spacing-rg);
  .selector-wrapper{
    display: grid;
    gap: var(--spacing-sm);
  }
} 

.custom-select {
    position: relative;
    text-transform: capitalize;

    .custom-select__header {
        position: relative;
        border: 1px solid var(--theme-text-color);
        justify-content: space-between;
        
        .header-arrow {
            width: 8px;
            height: auto;
        }
    }

    .custom-select__option {
        width: 100%;        
        padding: 0 var(--spacing-rg);
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: var(--colors-gray0);
        &:hover {
            background-color: var(--color-blue-01);
        }
    }

    .custom-select__dropdown {
        display: none;
        border: 1px solid var(--theme-text-color); 
        z-index: 10;
        border-radius: 5px;
        position: absolute;
        background-color: white;
        top: 40px;
        overflow: hidden;
        & > button {
          background-color: var(--theme-background);
          justify-content: flex-start;
        }

        & > button:not(:last-of-type) {
            border-bottom: 1px solid var(--theme-text-color);
          }
    }
}

// Open position specificities

.custom-select__dropdown {
    width: 100%;
    left: 0;
    display: block;

    button.prevent-selection {
        background-color: var(--color-blue-01);
        pointer-events: none;
    }
}
